{% extends "base.html.twig" %}

{% block body %}

    <h1>Page d'accueil</h1>

    <section>
        {% for article in articles %}
            {% include 'article/_thumbnail.html.twig' with { 'article': article } only %}
        {% endfor %}
    </section>

{% endblock %}
